.quotes {
  margin: 1em;
  display: flex;
  flex-direction: column;
  width: clamp(250px, 300px, 300px);
}

table {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 0.75em 1em;
  border-top: solid 0.1em lightgray;
  border-left: solid 0.1em lightgray;
  color: black;
  vertical-align: middle;
  background: #ebecf0;
}

th {
  font-size: 0.9rem;
}

tr {
  text-align: center;
  vertical-align: middle;
}

table td:first-child {
  text-align: left;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5em;
  border-bottom: solid 0.1em lightgray;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5em;
  border-bottom: solid 0.1em lightgray;
}

table tr:first-child th:first-child {
  border-top-left-radius: 0.5em;
  border-left: solid 0.15em lightgray;
  border-top: solid 0.15em lightgray;
  border-right: 0;
}

table tr:first-child th:last-child {
  border-top-right-radius: 0.5em;
  border-right: solid 0.15em lightgray;
  border-top: solid 0.15em lightgray;
  border-left: solid 0.15em lightgray;
}

table td:last-child {
  border-right: solid 0.1em lightgray;
}
