.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1em;
}

.block-tables {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-device-width: 600px) {
  .block-tables {
    flex-direction: column;
  }
}
