.converter {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 250px, 300px);
  padding: 1.5em;
  border-radius: 0.5em;
  background: #ebecf0;
  margin: 1em;
  border: 0.1em solid lightgray;
}

.converter h1 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

/* .converter h2 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1em;
} */

.converter h3 {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1em;
  color: red;
}

.converter-form input,
select {
  width: 100%;
  padding: 0.5em;
  border: 0.1em solid lightgray;
  border-radius: 0.5em;
  box-sizing: border-box;
}

.converter-form label {
  display: block;
  color: #191919;
  margin-bottom: 0.2em;
}

.converter-form {
  width: 100%;
  margin-top: 0.6em;
}

.converter-arrows {
  margin-top: 1em;
  text-align: center;
}

.converter-arrows:hover {
  cursor: pointer;
}

.converter-button {
  display: flex;
  text-align: center;
}

.converter-button-item {
  flex: 1;
  margin-top: 1.2em;
}

.converter-button-item button {
  width: 90%;
}

.converter-button-item button:hover {
  cursor: pointer;
}
