.banner {
  height: 5vh;
  padding: 1em;
  background-color: #696969;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
}

#banner-item {
  font-weight: 600;
}
